/* styles.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
        background-image: url('../images/test1.gif');
    
}


 /* #bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; 
}  */

.wrapper {
    width: 500px;
    border: 2px solid rgba(47, 33, 33, 0.5);
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box {
    margin: 10px auto;
    width: 100%;
    border-radius: 5px;
}

.wrapper .input-box input {
    height: 35px;
    width: 90%;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid rgba(34, 23, 23, 0.5);
    background: transparent;
    color: black;
    display: block;
    margin: 0 auto;
}

.wrapper .input-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.wrapper .forget-password a {
    text-decoration: none;
    display: block;
    padding-left: 20px;
    color: white;
    margin-top: 10px;
    padding-right: 360px;
}

.wrapper .btn {
    text-align: center;
    margin-top: 20px;
}

.wrapper .btn button {
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wrapper .btn button:hover {
    background-color: #0056b3;
    color: white;
}

.wrapper .sign-in {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    margin-top: 20px;
    color: white;
}

.wrapper .sign-in a {
    color: rgb(19, 19, 230);
    text-decoration: none;
}